.mb_8 {
  margin-bottom: 8px;
}

.mb_24 {
  margin-bottom: 24px;
}

.mb_48 {
  margin-bottom: 48px;
}

.gap_45 {
  gap: 45px;
}

.pl_12 {
  padding-left: 12px;
}
.gap_32 {
  gap: 32px;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #017dc0; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}
