.forgot_password_page {
  .left_sec_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .gif_container {
      width: auto;
      height: auto;
      padding: 0;
    }
    .title {
      margin: 0;
      max-width: 85%;
      margin: auto;
      margin-bottom: 32px;
    }
    .subtitle {
      margin: 0;
      padding: 0;
      max-width: 85%;
      margin: auto;
    }
  }
  .form_container {
    justify-content: center;
    padding-#{$e}: 0;
    @include responsive(max, 425px) {
      height: auto;
    }
    .w_1200_100 {
      // max-width: 512px;
      width: 75%;
      @include responsive(max, 1024px) {
        width: 100%;
        margin-top: 3rem;
      }
    }
    .back_to_login {
      text-decoration: none;
      color: #313131;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
    }
    .subtitle {
      display: flex;
      justify-content: center;
      gap: 4px;
      @include responsive(max, 768px) {
        margin-bottom: 15px;
      }
      @include responsive(max, 425px) {
        margin-bottom: 25px;
      }
    }
    .logo_cobtainer {
      margin-bottom: 8px;
    }
    .h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: 38.4px;
      color: #313131;
      margin-bottom: 16px;
      @include responsive(max, 1024px) {
        padding-inline: 40px;
      }
      @include responsive(max, 1024px) {
        margin-bottom: 30px;
      }
    }
    .donot_worry {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      color: #313131;
      margin-bottom: 24px;
      @include responsive(max, 1024px) {
        padding-inline: 40px;
      }
    }
    .login_card {
      padding: 41px 44px;
      min-width: initial;
      @include responsive(max, 768px) {
        padding-#{$s}: 15px;
        padding-#{$e}: 15px;
        margin-top: 0;
        margin-bottom: 0;
        margin-#{$s}: 30px;
        margin-#{$e}: 30px;
        padding-block: 17px;

        @include responsive(max, 425px) {
          padding-block: 27px;
          margin-block: 3rem;
        }
      }
      .btn_login {
        margin-bottom: 0;
      }
    }
  }
}
