.verification_page {
  .not_receive_code {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #1f1f1f80;
    margin-bottom: 24px;
    .resend_anc {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #017dc0;
      text-decoration: none;
    }
  }
}
